<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660997364054-lnkceqqr1au6siinjeep59fakcbn39kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660997364054-lnkceqqr1au6siinjeep59fakcbn39kc</string>
	<key>API_KEY</key>
	<string>AIzaSyApDjmm5TPlILZqRdvn0PQRMEm6Wvi5t60</string>
	<key>GCM_SENDER_ID</key>
	<string>660997364054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrishan.employ</string>
	<key>PROJECT_ID</key>
	<string>employ-166fd</string>
	<key>STORAGE_BUCKET</key>
	<string>employ-166fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660997364054:ios:901f421a2b50e622</string>
	<key>DATABASE_URL</key>
	<string>https://employ-166fd.firebaseio.com</string>
</dict>
</plist>